<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Atomic Braven VOD Bingo - Télécommande</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/integration.css" />
</head>
<body>
    <div id="player"></div>

    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript">
        const WS_URL = `ws://{{wsHost}}:{{wsPort}}`;
    </script>
    <script type="text/javascript" src="/js/integration.js"></script>
</body>
</html>