body {
    margin-top: -300px !important;
    margin-bottom: -300px !important;
    min-height: calc(100vh + 300px);
    overflow: hidden;
}

iframe {
    width: 100vw;
    height: calc(100vh + 600px);
}
